@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,100;1,200&display=swap');

:root {
    --primary-blue: #1A237E;
    --vibrant-teal: #00BFA5;
    --deep-purple: #311B92;
    --mystic-pink: #AD1457;
    --neutral-gray: #424242;
    --dark-slate: #263238;
    --near-white: #F5F5F5;
  }

